@import url('https://fonts.googleapis.com/css?family=Radley');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
}

li, h1, h2, h3 {
    font-family: 'Radley', serif;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 200px;
    color: #FFFFFF;
    margin: 0 0 0 0;
}

h2 {
    font-size: 40px;
    color: #000000;
}

h3 {
    font-size: 24px;
    color: #F04d23;
}

header p {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 0 100px 0;

}

nav li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-size: 14px;
    color: #000000;
}

li {
    font-size: 15px;
    color: #000000;
    list-style: none;
}

a {
    font-size: 15px;
    color: #F04d23;
}

span {
    color: #F04d23;
}

.line h2 {
    font-size: 100px;
    color: #000000;
}

.line p {
    font-size: 18px;
}

header {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kid {
    position: absolute;
    transform: rotate(-90deg);
    left: 15px;
    bottom: 15px;
    font-size: 10px;
}
img {
    max-width: 100%;
}

.line::before {
    content: url('../img/line.svg');
    position:absolute;
    width: 1000px;
    z-index:-1;
    top: 160px;
    left: 50px;
}

.line {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px 0 0 50px;
}

.line h2 {

}

.autor {
    position: relative;
    z-index: 1;
    top: 110px;
    width: 350px;
    height: 450px;
    left: 60px;
}
/* contener z ze zdjęciem autora */
figure {
    position: relative;
}

figure::before {
    content: url('../img/cross.svg');
    position: absolute;
    width: 250px;
    z-index: -1;
    top: 40px;
    left: -60px;
}

figcaption {
    position: relative;
    top: 110px;
    left: 60px;
}

footer {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F2F2F2;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

.icons ul li img {
    width: 50px;
    height: 50px;
}

.icons {
    position: fixed;
    left: -30px;
    top: 50%;
    height: 150px;
    z-index: 2;
}

.intro {
    margin-bottom: 150px;
}
